[build]
builder = "nixpacks"

[deploy]
startCommand = "$HOME/.bun/bin/bun run src/server.ts"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
